<h2><%= @user.nickname %>様、商品のご購入ありがとうございます！</h2><br>

<p>ご購入された商品の情報</p>
<p>商品名: <%= @item.name %></p>
<p>価格: <%= @item.price %></p>
<p>発送までの日数: <%= @shippin_days %></p>
<p>商品詳細ページ: <%= url_for(host: 'http://13.113.45.27', controller: 'items', action: 'show', id: @item.id) %></p>
<br>
<p>※ 送料の負担については商品詳細ページにてご確認ください</p>
<br><br>
<p>また、商品ご購入後出品者とのやり取りが必要になった際には以下のコミュニケーションページをご利用ください</p>
<p>コミュニケーションページ: <%= @url %></p>
<br><br><br>
<p>またのご利用をお待ちしております</p>