<% if !user_signed_in? || current_user.id == item.user.id || item.order %>
  <%= image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
  <span>お気に入り数 <%= "#{item.favorited_num}" %></span>
<% else %>
  <% if item.favorited_by?(current_user) %>
    <%= link_to item_favorites_path(item.id), data: { turbo_method: :delete }, class: "favorite-btn__link", remote: true do %>
      <%= image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
      <span>お気に入り済 <%= "#{item.favorited_num}" %></span>
    <% end %>
  <% else %>
    <%= link_to item_favorites_path(item.id), data: { turbo_method: :post }, class: "favorite-btn__link", remote: true do %>
      <%= image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
      <span>お気に入り <%= "#{item.favorited_num}" %></span>
    <% end %>
  <% end %>
<% end %>