<%= render "shared/header" %>

<%# パンくずリスト %>
<% breadcrumb :user_show %>

<%# ユーザーの詳細 %>
<div class="user-show">
  <div class="user-detail-box">
    <div class="user-show__name">
      <%= @user.nickname %>
      <% if user_signed_in? && current_user.id == @user.id %>
        <div class="edit-btn-area">
          <%= link_to "#", class: "edit-btn" do %>
            <%= image_tag "kkrn_icon_henshuu_6.png", width: "15", height: "15" %>
          <% end %>
          <div class="hidden-text", style="display: none;">編集する</div>
        </div>
      <% end %>
    </div>

    <%# 自分の登録情報を見られるのは自分だけ %>
    <% if user_signed_in? && current_user.id == @user.id %>
      <%# 本人自体の情報 %>
      <table class="detail-table">
        <tbody>
          <tr>
            <th class="detail-user">名前</th>
            <td class="detail-value"><%= @user.last_name %>　<%= @user.first_name %></td>
          </tr>
          <tr>
            <th class="detail-user">フリガナ</th>
            <td class="detail-value"><%= @user.last_name_kana %>　<%= @user.first_name_kana %></td>
          </tr>
          <tr>
            <th class="detail-user">メールアドレス</th>
            <td class="detail-value"><%= @user.email %></td>
          </tr>
          <tr>
            <th class="detail-user">誕生日</th>
            <td class="detail-value"><%= @user.birthday %></td>
          </tr>
        </tbody>
      </table>

      <%# クレジットカード情報 %>
      <div class="user-show__title">登録済みクレジットカード
        <div class="edit-btn-area">
          <%= link_to "#", class: "edit-btn" do %>
            <%= image_tag "kkrn_icon_henshuu_6.png", width: "15", height: "15" %>
          <% end %>
          <div class="hidden-text", style="display: none;">編集する</div>
        </div>
      </div>
      <table class="detail-table">
        <tbody>
          <tr>
            <th class="detail-user">カード番号</th>
            <td class="detail-value"><%= "####-####-####-0123" %></td>
          </tr>
          <tr>
            <th class="detail-user">有効期限</th>
            <td class="detail-value"><%= "12/24" %></td>
          </tr>
        </tbody>
      </table>

      <%# 住所情報 %>
      <div class="user-show__title" >登録済み住所等
        <div class="edit-btn-area">
          <%= link_to "#", class: "edit-btn" do %>
            <%= image_tag "kkrn_icon_henshuu_6.png", width: "15", height: "15" %>
          <% end %>
          <div class="hidden-text", style="display: none;">編集する</div>
        </div>
      </div>
      <table class="detail-table">
        <tbody>
          <tr>
            <th class="detail-user">郵便番号</th>
            <td class="detail-value"><%= "123-4567" %></td>
          </tr>
          <tr>
            <th class="detail-user">住所</th>
            <td class="detail-value"><%= "東京都新宿区青山１−１　柳ビル103" %></td>
          </tr>
          <tr>
            <th class="detail-user">電話番号</th>
            <td class="detail-value"><%= "12345678900" %></td>
          </tr>
        </tbody>
      </table>

      <%# お気に入り登録商品 %>
      <div class="user-show__title">お気に入り登録商品</div>
      <% if @favorite_items != [] %>
        <table class="detail-table">
          <tbody>
            <tr>
              <th class="detail-user">商品名</th>
              <th class="detail-value", style='background-color: #eee;'>商品の詳細ページへのリンク</td> 
            </tr>
            <% @favorite_items.each do |item| %>
              <tr>
                <td class="detail-user", style='background-color: white;'><%= item.name %></th>
                <td class="detail-value"><%= link_to nil , item_url(item) %></td> 
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <h3 style="font-size: 25px;">お気に入りに登録した商品が存在しません</h3>
      <% end %>

    <% end %>

    <%# 出品履歴のグラフを表示 %>
    <div class="user-detail__graphs">
      <h2 style="font-size: xx-large; font-weight: bold;">出品商品の傾向</h2>
      <h2 style="font-size: x-large; font-weight: 500">総出品数：<%= @items.length %></h2>

      <% if @graph[:frequency] %>
        <div class="category-graph">
          <h2 class="user-show__subtitle">出品頻度</h2>
          <%= line_chart(@graph[:frequency], width: "500px", height: "300px") %>
        </div>
      <% end %>

      <% if @graph[:category] %>
        <div class="category-graph">
          <h2 class="user-show__subtitle">出品カテゴリーの傾向</h2>
          <%= pie_chart(@graph[:category], width: "500px", height: "300px") %>
        </div>
      <% end %>

      <% if !@items.exists? %>
        <h3 style="font-size: 25px;">出品履歴が存在しません</h3>
      <% end %>
    </div>
  </div>
</div>
<%# /ユーザーの詳細 %>

<%# 出品履歴 %>
<div class="item-contents">
  <h2 class="title">過去に出品した商品</h2>

  <ul class="item-lists">
    <% if @items.exists? %>
      <% @items.each_with_index do |item, index| %>
        <li class='list'>
          <%= link_to item_path(item.id) do %>
            <div class='item-img-content'>
              <%= image_tag item.image, class: "item-img" %>

              <% if item.order %>
                <div class='sold-out'>
                  <span>Sold Out!!</span>
                </div>
              <% end %>

            </div>
            <div class='item-info'>
              <h3 class='item-name'>
                <%= item.name %>
              </h3>
              <div class='item-price'>
                <span><%= item.price %>円<br><%= item.fee.name %></span>
                <div class='star-btn'>
                  <%= image_tag "star.png", class:"star-icon" %>
                  <span class='star-count'><%= item.favorited_num %></span>
                </div>
              </div>
            </div>
          <% end %>
        </li>
      <% end %>
    <% else %>
      <h3 style="font-size: 25px;">出品履歴が存在しません</h3>
    <% end %>
  </ul>
</div>

<%= render "shared/footer" %>