<%= render "shared/second-header"%>

<div class="communicaton-contents">
  <div class="communication-main">
    <h1 class="communication-title">
      コミュニケーションページ
    </h1>

    <%# 翌日ページ削除の注意 %>
    <div>
      <%= @item.room.limit %>
    </div>
    <%# /翌日ページ削除の注意 %>

    <%# 購入内容の表示 %>
    <div class='buy-item-info'>
      <%= image_tag @item.image, class: 'buy-item-img' %>
      <div class='buy-item-right-content'>
        <h2 class='buy-item-text'>
          <%= @item.name %>
        </h2>
        <div class='buy-item-price'>
          <p class='item-price-text'>¥<%= @item.price %></p>
          <p class='item-price-sub-text'><%= @item.fee.name %></p>
        </div>
        <div class="buy-item-shipping">
          <p class="item-shipping-days"><%= @item.shipping_day.name %></p>
        </div>
      </div>
    </div>

    <div class='item-payment'>
      <h1 class='item-payment-title'>
        支払金額
      </h1>
      <p class='item-payment-price'>
        ¥<%= @item.price %>
        <% if @item.fee.id == 1 %>
          <span class="item-payment-fee">+ 送料</span>
        <% end %>
      </p>
    </div>
    <%# /購入内容の表示 %>

    <%# コミュニケーション部分 %>
    <div class="communications">
      <div class="message-content">
        <div class="communicate-buyer"></div>
        <div class="communicate-text"></div>
        <div class="communicate-seller"></div>
      </div>
    </div>
    <%# /コミュニケーション部分 %>

    <%# メッセージ送信部分 %>
    <div class="communicate-message-input">
      
    </div>
    <%# /メッセージ送信部分 %>
  </div>
</div>

<%= render "shared/second-footer"%>