<%= render "shared/second-header"%>

<div class="communication-contents">
  <div class="communication-main">
    <h1 class="communication-title">
      コミュニケーションページ
    </h1>

    <%# 翌日ページ削除の注意 %>
    <div class="communication-limit-alert">
      <p>こちらのページは以下の時間に破棄されます</p>
      <span class="communication-limit-datetime"><%= @room.limit.strftime("%Y-%m-%d %H:%M:%S") %></span><br>
      <% if @room.limit.to_i == (@room.created_at + 3.week).end_of_day.to_i %>
        これ以上の延期はできません
      <% else %>
        <div class="communication-limit-extension">
          <p>期間を延長したいときは下のボタンを押してください(延長は1週間のみです)</p>
          <%= form_with model: @room, url: item_room_path(item_id: @item.id, id: @room.id), local: true do |f| %>
            <%= f.hidden_field :limit, value: @room.limit+ 1.week %>
            <%= f.submit "更新" %>
          <% end %>
        </div>
      <% end %>
    </div>
    <%# /翌日ページ削除の注意 %>

    <%# 購入内容の表示 %>
    <%= render partial: "orders/item_info", locals: { item: @item } %>
    <%# /購入内容の表示 %>

    <%# コミュニケーション部分 %>
    <h2 class="communications-title">コミュニケーション</h2>
    <div class="communicators">
      <p>S:出品者 <%= link_to @item.user.nickname, user_path(@item.user.id) %>さん</p>
      <p>B:購入者 <%= link_to @item.order.user.nickname, user_path(@item.order.user.id) %>さん</p>
    </div>
    <div class="communications">
      <div class="message-content", id="message-content">
        <% @messages.each do |message| %>
          <div class="message-area">
            <% if message.user.id == @item.user.id %>
              <%# 出品者は「S」 %>
              <div class="message-user">S</div>
            <% else %>
              <%# 購入者は「B」 %>
              <div class="message-user">B</div>
            <% end %>
            <div class="message-text">
              <%= message.message %>
            </div>
            <% if current_user.id == message.user.id %>
              <div class="message-destroy-link">
                <%= link_to "削除", item_room_message_path(item_id: @item.id, room_id: @room.id, id: message.id), data: { turbo_method: :delete } %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <%# メッセージ送信部分 %>
      <% if @message.errors.any? %>
        <div class="message-alert">
          <%= @message.errors.full_messages[0] %>
        </div>
      <% end %>
      <div class="communicate-message-input">
        <%= form_with model: [@room, @message], url: item_room_messages_path(item_id: @item.id, room_id: @room.id), local:true do |f| %>
          <%= f.text_field :message, placeholder: "message", class: "communication-message-text" %>
          <%= f.submit "送信", class: "communication-message-submit" %>
        <% end %>
      </div>
      <%# /メッセージ送信部分 %>
    </div>
    <%# /コミュニケーション部分 %>
  </div>
</div>

<%= render "shared/second-footer"%>